[Unit]
Description=Prometheus monitoring system and time series database
Wants=network-online.target
After=network-online.target

[Service]
User=prometheus
Group=prometheus
Type=simple

# The following lines are commented out because systemd will manage logging. 
# If you want to log to a specific file, uncomment these lines and adjust the path accordingly.
# ExecStartPre=/usr/bin/mkdir -p /var/log/prometheus
# ExecStartPre=/usr/bin/touch /var/log/prometheus/prometheus.log
# ExecStartPre=/usr/bin/chown -R prometheus:prometheus /var/log/prometheus

ExecStart=/usr/local/bin/prometheus \
    --config.file=/etc/prometheus/prometheus.yml \
    --storage.tsdb.path=/var/lib/prometheus \
    --web.console.templates=/etc/prometheus/consoles \
    --web.console.libraries=/etc/prometheus/console_libraries \
    --log.level=info \
    --log.format=json \
    --storage.tsdb.retention.time=365d \
    --web.enable-remote-write-receiver

ExecReload=/usr/bin/kill -HUP $MAINPID
SyslogIdentifier=prometheus

[Install]
WantedBy=multi-user.target
