[Unit]
Description=Etcd distributed database service for Hoster cluster
After=network.target
# This number must be greater than StartLimitBurst * RestartSec
StartLimitInterval=50
StartLimitBurst=5

[Service]
User=etcd
Group=etcd
Type=simple
WorkingDirectory=/opt/etcd
# Comment the line with "-" to make the service fail if the environment file is not found.
# EnvironmentFile=-/opt/etcd/.env
EnvironmentFile=/opt/etcd/.env

# ExecStart=/opt/etcd/etcd \
#             --config=/opt/etc/config.yaml

ExecStart=/opt/etcd/etcd \
            --auto-tls \
            --peer-auto-tls \
            --name ${HOSTNAME} \
            --listen-client-urls https://0.0.0.0:2379 \
            --advertise-client-urls https://${HOSTNAME}:2379 \
            --listen-peer-urls https://0.0.0.0:2380 \
            --initial-cluster-token ${CLUSTER_TOKEN} \
            --initial-cluster ${CLUSTER_NODES} \
            --initial-cluster-state new \
            --auth-token ${CLUSTER_TOKEN}

Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
